@model CRUDProductos.ViewModel.VistaPedido

@{
    ViewBag.Title = "NuevoPedido";
}

<h2>Nuevo Pedido</h2>
<h3>@ViewBag.Error</h3>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("NuevoPedido", "Pedidos", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente.ClienteId, "ClienteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente.ClienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.ActionLink("Agregar producto", "AgregarProducto", new { }, new { @class = "btn btn-primary" })
        <input type="submit" value="Guardar pedido" id="NewOrder" class="btn btn-default" />
    </div>
}
<h2>Detalle del pedido</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto.Total)
        </th>

        <th></th>
    </tr>

    @for (int i = 0; i < Model.Productos.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Productos[i].Total)
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = Model.Productos[i].ProductoId }) |

                @Html.ActionLink("Eliminar", "Eliminar", new { id = Model.Productos[i].ProductoId })
            </td>
        </tr>
    }

</table>
