@model IEnumerable<CRUDProductos.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Nombres)*@
            @if (item.Nombres == "Rene")
            {
                <font color="green">
                    @Html.DisplayFor(modelItem => item.Nombres)
                </font>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.Nombres)
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteId }) |
            <a data-toggle="modal" data-target="#myModal" href="@Url.Action("Delete","Clientes")" class="btn btn-primary edit-radicado" data-id="@item.ClienteId">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
}

</table>
